/* reset */
* {
  box-sizing: border-box;
}
body,
dl,
dd,
ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h1,
h2 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

/* layout */
.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* design */
.header {
  background-color: #b1c9de;
  padding: 30px 0 70px;
}

.main {
  background-color: #333;
  padding: 30px 0;
}

.content_container {
  overflow: hidden;
  border-radius: 20px;
  margin-top: -77px;
}

.wrapper.header-side-cover_position {
  position: relative;
}

.header-side-cover {
  position: absolute;
  right: 0;
  top: -30px;
}

.menu {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 14px;
}

.menu-tab {
  padding: 15px;
}

.menu-tab.tab_focus {
  background-color: #222;
}

.movie_container {
  padding: 30px;
  background-color: #222;
}

.movie {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

/* 처음 movie-item에는 flex 사용하지 않고 movie-info에만 flex column 준 상태에서 movie-description의 컨텐츠 양의 변화가 있을 때에도 동일하게 아이콘이 하단에 붙도록 movie-description에 flex-grow:1을 주어 작업 했는데 적용이 되지 않았습니다. 
movie-item에 flex, flex-grow:1을 주니 적용이 되었는데 처음 방법은 더이상 늘어날 공간이 없었어서 적용이 안되었던 걸까요? 
적용이 된 이유가 명확하게 이해가 가지 않습니다ㅠㅠ */
.movie-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 200px;
  background-color: black;
  border-radius: 10px;
  overflow: hidden;
  font-size: 14px;
  color: darkgrey;
}

.movie-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-grow: 1;
  padding: 15px 20px;
}

.movie-title {
  color: #77aafe;
  font-size: 20px;
}

.icon-button_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 5px;
  margin-top: auto;
}

.icon-button_container::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: currentColor;
  margin-bottom: 10px;
}

.icon-button {
  background: url(./images/sprite-btn.png) no-repeat;
  position: relative;
  width: 50px;
  height: 30px;
}

.icon-button.view {
  background-position: 0px;
}
.icon-button.like {
  background-position: -50px;
}
.icon-button.share {
  background-position: -100px;
}

.footer {
  padding: 30px 0;
  background-color: #111;
  color: rgb(125, 125, 125);
  border-top: 1px solid;
}
